/* Styling for the outer div containing code */
div.code-container {
    border-radius: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-x: auto;
}

/* Styling for the code block inside the div */
div.code-container code {
    display: block;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 15px;
}

/* Styling for individual lines in the code block */
div.code-container code .line {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Styling for line numbers and summary caret */
div.code-container code .line-number,
div.code-container code .summary-caret {    
    margin-right: 1rem;
}


::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-thumb {
    background-color: #515761; 
    border-radius: 5px; 
}

::-webkit-scrollbar-track {
    background-color: #cbd5e0; 
}